
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; /*TESTAR RETIRADA*/
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container_form { /*onde estão agrupados os inputs e botões*/
  color: #ffffff;
  background-color: #5d7783;
  display: flex;
  flex-direction: column;
  gap: 30px;    /*espaço entre inputs*/
  padding: 30px;  /*espaço cinza de cadastro*/
  border-radius: 10px;  /*arredondamento do espaço cinza*/
  /*max-width: 50%;*/
  width: 400px;
  margin-bottom: 20px;

  & button {
    background-color: #63b995;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    height: 40px;
    font-size: 14px;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    background-color: #ffffff;
    color: #0c0f0a;
    border: none;
    border-radius: 30px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;  
  }
}
