:root {   
  font-family: "Noto Sans", sans-serif;;
  color-scheme: light dark;
  color: #0C0F0A;
  background-color: #EBF4FE;
}
 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
